VITE_SUPABASE_URL=https://ghpmcjozeubrmiuzyfey.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdocG1jam96ZXVicm1pdXp5ZmV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MjYzMjYsImV4cCI6MjA5MzUwMjMyNn0.3UHkakDeyj6bDdDo5DcoiLWLMxCmdPc1KaZ7sZNSV6w
VITE_SERVER_URL=https://tty-live.vercel.app
